http {
    ##
    # Basic Settings
    ##
    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout 65;
    types_hash_max_size 2048;


    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    ##
    # SSL Settings
    ##
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
    ssl_prefer_server_ciphers on;

    ##
    # Logging Settings
    ##
    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    ##
    # Gzip Settings
    ##
    gzip on;
    gzip_disable "msie6";

    ##
    # Upstreams
    ##

    upstream jenkins {
        server despina.128.no:8080;
    }

    {{ range $service, $containers := groupByMulti $ "Env.SERVICE_NAME" "," }}
    {{ if ne $service "mongodb" }}
    upstream {{ $service }} {
        {{ range $index, $value := $containers }}

            {{ $addrLen := len $value.Addresses }}
            {{ $network := index $value.Networks 0 }}

            {{ range $i, $address := $value.Addresses }}
                {{ if eq $address.Port "80" }}
                # {{$value.Name}} 3
                server {{ $network.Gateway }}:{{ $address.HostPort }};
                {{ end }}
            {{ end }}
        {{ end }}
    }

    {{ end }}
    {{ end }}


    server {
        listen 80;
        server_name despina.128.no;
        return 301 https://$host$request_uri;
    }

    server {
        server_name despina.128.no;
        listen 443 ssl;

        ssl_certificate /etc/letsencrypt/live/despina.128.no/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/despina.128.no/privkey.pem;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        ssl_dhparam /etc/ssl/certs/dhparam.pem;
        ssl_ciphers 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA';
        ssl_session_timeout 1d;
        ssl_session_cache shared:SSL:50m;
        ssl_stapling on;
        ssl_stapling_verify on;
        add_header Strict-Transport-Security max-age=15768000;

    {{ range $service, $containers := groupByMulti $ "Env.SERVICE_NAME" "," }}
        {{ $nContainers := len $containers }}

        {{ if gt $nContainers 0 }}
        {{ if eq $service "microauth" }}
        location /oauth2 {
            proxy_pass  http://microauth/auth$request_uri;
        }

        location /api {
            proxy_pass  http://microauth/auth$request_uri;
        }

        location /auth {
            proxy_pass  http://microauth;
        }

        location /accounts {
             proxy_pass  http://microauth/auth$request_uri;
        }
        {{ end }}
        {{ end }}

        {{ if gt $nContainers 0 }}
        {{ if eq $service "templates" }}
        location ~ ^/templates(?<url>.*) {
            proxy_pass  http://templates$url$is_args$args;
        }
        {{ end }}
        {{ end }}


        {{ if gt $nContainers 0 }}
        {{ if eq $service "publishing" }}
        location /connect {
            proxy_pass  http://publishing$request_uri;
        }

        location /publish {
            proxy_pass  http://publishing;
        }
        {{ end }}
        {{ end }}

        {{ if gt $nContainers 0 }}
        {{ if eq $service "frontend" }}
        location / {
            proxy_pass  http://frontend;
        }
        {{ end }}
        {{ end }}

        {{ if gt $nContainers 0 }}
        {{ if eq $service "indexer" }}
        location /indexer {
            proxy_pass  http://indexer;
        }
        {{ end }}
        {{ end }}

        {{ if gt $nContainers 0 }}
        {{ if eq $service "spell-check" }}
        location /spell {
            proxy_pass  http://spell-check;
        }
        {{ end }}
        {{ end }}

        {{ if gt $nContainers 0 }}
        {{ if eq $service "search" }}
        location /api/search {
            proxy_pass  http://search;
        }
        {{ end }}
        {{ end }}


    {{ end }}

        location ^~ /jenkins/ {
            proxy_pass http://jenkins/jenkins/;
        }
    }
}

stream {
{{ range $is_bootstrap, $containers := groupByMulti $ "Env.IS_BOOTSTRAP" "," }}
    {{ if eq $is_bootstrap "true" }}
    upstream bootstrap_nodes {
    {{ range $index, $value := $containers }}
        {{ $bootstrap_port := $value.Env.BOOTSTRAP_PORT }}
        {{ if $bootstrap_port }}
        {{ $addrLen := len $value.Addresses }}
        {{ $network := index $value.Networks 0 }}

        {{ range $i, $address := $value.Addresses }}
            {{ if eq $address.Port $value.Env.BOOTSTRAP_PORT }}
            # {{$value.Name}}
            server {{ $network.IP }}:{{ $address.Port }};
            {{ end }}
        {{ end }}
        {{ end }}
    {{ end }}
    }
    {{ end }}
{{ end }}

{{ range $is_bootstrap, $containers := groupByMulti $ "Env.IS_BOOTSTRAP" "," }}
{{ if eq $is_bootstrap "true" }}
    {{ $nContainers := len $containers }}
    {{ if gt $nContainers 0 }}
    server {
        listen 10002    udp;
        proxy_pass      bootstrap_nodes;
        error_log       /var/log/nginx/bootstrap_nodes.log info;
    }
    {{ end }}
{{ end }}
{{ end }}
}
